name: GitHub Actions Demo
run-name: Backend CI
on: [push]
jobs:
  Testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run unit tests
        run: |
            curl -o allure-2.13.8.tgz -OLs https://repo.maven.apache.org/maven2/io/qameta/allure/allure-commandline/2.13.8/allure-commandline-2.13.8.tgz
            sudo tar -zxvf allure-2.13.8.tgz -C /opt/
            sudo ln -s /opt/allure-2.13.8/bin/allure /usr/bin/allure
            pwd
            # cd ../streamingDatabase/ && pip install -r ./requirements.txt
            # cd app/seasonal_models
            # pytest --alluredir=report .
            # allure serve ./report
            ls
            